<div class="modal-header">
    <div class=impact>{{form.title}}</div>
</div>

<div class="modal-body">


    <div data-ui-grid="form.modifyGoal" data-ui-grid-selection data-ui-grid-edit data-ui-grid-row-edit data-ui-grid-cellnav class="xxxxGrid">

    </div>

    </div>

<div class="modal-footer">

    <button data-ng-model="button" class="btn btn-success" data-ng-click="onOk()">Ok</button>
    <button data-ng-model="button" class="btn btn-default active" data-ng-click="onCancel()">Cancel</button>

</div>